#titulo {
  color:blue;
}

.mesa{
  width: 120px;
  height: 120px;
  border: 3px solid green;
}

#mesa1{
  position: relative;
  left: 140px;
  bottom: 0;

}

#mesa2{
  position: relative;
  left: 0px;
  bottom: 125px;
}

#mesa3{
  position: relative;
  left: 280px;
  bottom: 253px;
}

#mesa4{
  position: relative;
  left: 420px;
  bottom: 380px;

}

#mesa5{
  position: relative;
  left:0px ;
  bottom:340px ;


}

#mesa6{
  position: relative;
  left: 140px;
  bottom: 465px;
}

#mesa7{
  position: relative;
  left: 280px;
  bottom:591px ;
}


#mesa8{
  position: relative;
  left:420px ;
  bottom:717px ;
}

#mesa9{
  position: relative;
  left:0px ;
  bottom: 680px;
}

#mesa10{
  position: relative;
  left:140px ;
  bottom:805px ;
}
